/* dark & default theme */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(25, 26, 29);
}

.calculator {
  height: 30rem;
  width: 16rem;
  background-color: #17181a;
  box-shadow: 1px 5px 14px rgb(86, 100, 105);
  flex-direction: column;
  border-radius: 25px;
  position: relative;
}

#open-btn,
#close-btn {
  color: #999999;
  font-size: 1.2rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

#close-btn {
  z-index: 5;
  visibility: hidden;
}

.menu {
  height: 30rem;
  width: 10rem;
  flex-direction: column;
  align-self: start;
  padding-top: 3.7rem;
  background-color: #0a121861;
  backdrop-filter: blur(5px);
  border-radius: 25px 0 0 25px;
  position: absolute;
  top: 0%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
}

.menu-open {
  visibility: visible;
  opacity: 1;
}

.menu > ul > li,
.social-handles i {
  list-style: none;
  font-size: 1.2rem;
  color: #d7d7d7;
  margin-top: 1.2rem;
  transition: all ease.3s;
}

.menu:has(.theme-options:hover) .theme-options:not(:hover) {
  color: #f5f5f78a;
  font-size: 1.15rem;
}

.social-handles {
  gap: 1rem;
}

.social-handles > li i {
  font-size: 1.7rem;
  transition: all ease 0.4s;
}

.social-handles:has(i:hover) i:not(:hover) {
  color: #f5f5f768;
  font-size: 1.65rem;
}

.equation {
  color: #898989;
  font-size: 1.2rem;
  position: absolute;
  top: 4rem;
  right: 1.6rem;
}

.result {
  height: calc(30rem - 66.5%);
  width: 100%;
  padding: 1.5rem;
  color: #efeeee;
  font-size: 2.5rem;
  justify-content: end;
  align-items: end !important;
}

.lower {
  height: 65%;
  width: 100%;
  justify-content: center;
}

.buttons {
  height: 100%;
  width: 90%;
  position: relative;
}

.buttons > div {
  display: flex;
  gap: 0.7rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.buttons > div > button {
  height: 2.8rem;
  width: 2.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 14px;
  background-color: #ffffff1f;
  color: #83c3ff;
  transition: all 0.18s;
}

.buttons > div > button:active {
  background-color: #ffffff11;
  font-size: 0.8rem;
}

.del-btn {
  background-color: #ffffff45 !important;
  color: #f5f5f5 !important;
}

.del-btn:active {
  background: #ffffff30 !important;
}

.operators {
  background-color: #0065c4 !important;
  color: #f5f5f5 !important;
}

.operators:active {
  background-color: #0065c4cb !important;
}

#equal-btn {
  background-color: #014ad1 !important;
  color: #f5f5f5 !important;
}

#equal-btn:active {
  background-color: #014ad1d1 !important;
}

footer {
  width: 100vw;
  height: 2.3rem;
  color: #ffffff;
  background-color: #0065c4;
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}

@media (max-width: 400px) {
  body {
    height: 100svh;
  }

  footer {
    height: 2rem;
  }
}
